.winners {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.winners-heading {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
}

.page-buttons {
  display: flex;
  gap: 30px;
}
