@use '../../../styles/constants.scss';

.car-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: dashed 3px constants.$color-track;
}

.settings-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button_delete,
.button_settings {
  position: relative;
  cursor: pointer;
  background-color: constants.$color-background-body;
  box-shadow: none;
  transform: none;
  padding: 0;

  &::before {
    height: 0;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: constants.$color-text-light;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    svg {
      fill: constants.$color-button-dark;
    }
  }
}

.change-car-form {
  position: absolute;
  left: 200px;

  .input_name {
    font-size: 1.3rem;
    padding: 3px 5px;
  }

  .input_color {
    width: 30px;
    height: 30px;
  }

  .button {
    font-size: 1.3rem;
  }
}

.track-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.button_power,
.button_stop {
  cursor: pointer;
  background-color: constants.$color-background-body;
  box-shadow: none;
  transform: none;
  padding: 0;

  &::before {
    height: 0;
  }

  svg {
    width: 25px;
    height: 25px;
    fill: constants.$color-text-light;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    svg {
      fill: constants.$color-button-light;
    }
  }
}

.car-icon {
  position: absolute;
  width: max-content;
  left: 100px;

  svg {
    width: 50px;
    height: 50px;
  }
}

.flag-icon {
  position: absolute;
  right: 85px;

  svg {
    fill: constants.$color-text-light;
    width: 40px;
    height: 40px;
  }
}
