@use '../../../styles/constants.scss';

.car-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: dashed 3px constants.$color-track;
}

.settings-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete,
.settings {
  position: relative;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    fill: constants.$color-text-light;
  }

  &:hover {
    svg {
      fill: constants.$color-button-light;
    }
  }
}

.change-car-form {
  position: absolute;
  left: 200px;

  .input_name {
    font-size: 1.3rem;
    padding: 3px 5px;
  }

  .input_color {
    width: 30px;
    height: 30px;
  }

  .button {
    font-size: 1.3rem;
  }
}

.track-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.power,
.stop {
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;
    fill: constants.$color-text-light;
  }
}

.car-icon {
  position: relative;

  svg {
    width: 50px;
    height: 50px;
  }
}

.flag-icon {
  position: absolute;
  right: 100px;

  svg {
    fill: constants.$color-text-light;
    width: 40px;
    height: 40px;
  }
}
